{% extends "movies/base.html" %}{% block content %}
<nav aria-label="breadcrumb" class="bg-dark-subtle text-dark-emphasis">
	<ol class="breadcrumb p-2 pl-4">
	  <li class="breadcrumb-item "><a href="/" class="link-underline link-underline-opacity-0">Home</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Log Out</li>
	</ol>
  </nav>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %} {% endif %}
<div class="container mt-5 w-50 text-light">
    <h2 class="mb-3">You have been logged out</h2>
	<div class="border-top pt-3">
        <small>
           <a href="{% url 'login' %}" class="link-underline link-underline-opacity-0 text-info">Log In Again</a>
        </small>
</div>
</div>
{% endblock content %}
